body {
	background-image: url("../image/fondotrello.png");
	background-repeat: no-repeat;
	background-size: auto;
}

/*
form {
	border: solid 10px #E2E4E6;
}*/

#nota-inicial {
	margin-top: 6%;
	width: 200px;
	height: 30px;
	background-color: #006BA9;
	color: #CCE1ED;
	cursor: pointer;
}

#nota-inicial:hover {
	background-color: #144A6A;
}

#nota {
	display: none;
}

#boton {
	display: none;
}
